<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <style>h1{
    text-align: center;}</style>
    <h1>Bienvenidos a la pagina de Nico</h1>
    <div>
        <title>El hombre araña 3</title>
    <img src="static/images/araña.jpg">
    <form action="aplicacion 'peli1.html'">
        <button type="submit">Revisar el hombre araña 3</button>
    </form>
    </div>
    <div>
        <title>El Renacido</title>
    <img src="static/images/ELrenacido.jpg">
    <form action= aplicacion/verPeli2.html>
        <button type="submit">Revisar EL Renacido</button>
    </form>
    </div>
    <div>
        <title>Batman el caballero de la noche</title>
    <img src="static/images/batman.jpg">
    <form action="aplicacion 'verPeli3.html'">
        <button type="submit">Revisar Batman el caballero de la noche</button>
    </form>
    </div>
</body>
</html>